body {
  margin: 0;
  padding: 50px;
  background: darkblue
}
.skibumpus {
  width: 500px;
  margin: auto;
  padding: 10px;
  background: lightgrey;
  border: inset;
  border-color: darkgrey;
  border-width: 20px
}
.skibumpus img {
  height: 490px;
  width: 490px
}
.skibumpus p {
  font-size: 50px;
  margin: auto;
  text-align: center;
  font-family: serif;
  color: dimgrey
}
.footer {
  width: 96px;
  margin: auto;
  padding: 50px
}